* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #445162;
    min-height: 323px;
    padding: 50px 0;
}

.header-container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}

.header ul {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    list-style-image: url(../img/check_icon.png);
    list-style-position: inside;
}

.about {
    min-height: 345px;
    color: #f5f5f5;
    padding: 50px 0;
}

h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    text-align: center;
    margin-bottom: 35px;
}

.about-container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
    width: 650px;
}

.about-container p {
    margin-bottom: 10px;
}

.about-container p:last-child {
    margin: 0;
}

.about-title {
    margin-bottom: 30px;
    text-align: left;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity,
.reviews {
    background-color: #f5f5f5;
    padding: 50px 0;
}

.dignity-container,
.screenshots-container,
.buy-container,
.contacts-container {
    max-width: 1180px;
    margin: 0 auto;
}

.dignity-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dignity-title {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    text-align: center;
}
.dignity-list {
    color: #333333;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
}

.dignity-list li {
    width: 48%;
    position: relative;
    margin: 0 20px 20px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    padding-left: 42px;
    list-style: none;
}

.dignity-container li:before {
    content:"+";
    position: absolute;
    display:block;
    width: 32px;
    height: 32px;
    background-color: #445162;
    top: 5px;
    left:0;
    color: #fff;
    text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 40px;
    line-height: 34px;
 }

.dignity-list li:nth-child(5),
.dignity-list li:last-child {
    margin-bottom: 0;
}

.screenshots {
    /*min-height: 487px;*/
    padding: 50px 0;
}

.screenshots-description {
    display: flex;
    flex-wrap: wrap;
   /* align-content: space-between;*/
    flex-basis: 590px;
}

.screenshots-wrap {
    width: 550px;
    display: flex;
    margin-bottom: 20px;
}

/*
.screenshots-wrap:nth-child(3),
.screenshots-wrap:nth-child(4) {
    margin-bottom: 0;
*/
}

.screenshots-text {
    width: 360px;
    margin: 0 10px;
}

.screenshots-text h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    margin-bottom: 4px;
    padding: 0 10px;
}

.screenshots p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    padding: 0 10px;
}

.reviews-container {
    max-width: 1180px;
    margin: 0 auto;
}

.reviews-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews-blog {
    display: flex;
    margin-bottom: 25px;
    width: 574px;
}

.reviews img {
    margin-right: 16px;
}

.reviews-text {
    background-image: url(../img/bg_review_190.png);
    padding: 15px 20px 15px 27px;
}

.reviews p {
    width: 436px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
}

.reviews-autor {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin-top: 16px;
}

.buy {
    padding: 50px 0;
}

.buy-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.buy-column {
    width: 300px;
    padding: 16px 0 0;
    background-color: #445162;
    border: 3px solid #445162;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 22px;
}

.buy h3 {
    color: white;
    text-align: center;
    padding-bottom: 17px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
}

.buy p {
    background-color: white;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    padding: 18px 0;
}

.buy-content {
    padding: 19px 20px 19px 20px;
}

.buy ol {
    list-style-position: inside;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 14px;
}

.buy a {
    display: inline-block;
    width: 100%;
    background-color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    text-decoration: none;
    text-align: center;
    padding: 14px;
    border-radius: 5px;
}

.contacts {
    background-color: #445162;
    padding: 50px 0 0;
}

.contacts-container {
    max-width: 1180px;
    margin: 0 auto;
}

.contacts h2 {
    color: white;
}

.contacts form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 23px;
}

.contacts-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding: 14px 10px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 6px;
}

.send {
    width: 140px;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
}

.contacts-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts-communication {
    padding: 0;
}

.contacts ul {
    color: #ffffff;
    list-style-position: inside;
    margin: 0 23px;
}

.skype {
    position: relative;
    margin: 0 20px 20px 0;
    padding-left: 42px;
    list-style-image: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
}

.skype:before {
    position: absolute;
    content: url(../img/skype_icon_319.png);
    top: 5px;
    left: 12px;
    display:block;
}

.icq {
    position: relative;
    margin: 0 20px 20px 0;
    padding-left: 42px;
    list-style-image: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
}

.icq:before {
    position: absolute;
    content: url(../img/icq_icon_324.png);
    top: 5px;
    left: 12px;
    display:block;
}

.me-email {
    position: relative;
    margin: 0 20px 20px 0;
    padding-left: 42px;
    list-style-image: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
}

.me-email:before {
    position: absolute;
    content: url(../img/email_icon_332.png);
    top: 5px;
    left: 12px;
    display:block;
}

.phone {
    position: relative;
    margin: 0 20px 20px 0;
    padding-left: 42px;
    list-style-image: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style: none;
}

.phone:before {
    position: absolute;
    content: url(../img/phone_icon_337.png);
    top: 5px;
    left: 12px;
    display:block;
}

.social {
    margin-left: 30px;
}

.copyright {
    background-color: #f5f5f5;;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    margin-top: 50px;
    display: block;
    text-align: center;
}